{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- jQuery CDN -->
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
     <!-- highcharts CDN -->
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/treemap.js"></script>


</head>
<body>
     <ul>
       <li><a href="{% url 'home' %}">Home</a></li>
       <li><a href="{% url 'earning' %}">Earnings</a></li>
       <li><a href="{% url 'debt' %}">Debts</a></li>
       <li><a href="{% url 'spending' %}">Spendings</a></li>
       <li><a href="{% url 'investment' %}">Investments</a></li>
       <li><a href="{% url 'inandout' %}">In & Out</a></li>
       <li><a href="{% url 'memberIncome' %}">Member Income</a></li>
       <li><a href="{% url 'memberSpending' %}">Member Spending</a></li>
       <li><a href="{% url 'logout' %}">Log Out</a></li>
     </ul>


     {% block content %}

     {% endblock %}

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
